body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media only screen and (min-width:375px) and (max-width:812px) {

    *{
        font-size: larger;
        margin: auto;
    }
    
    h1 {
        font-size: small;
    
    font-variant-ligatures: ;    {
        margin:100px
    }
}


